<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension point="org.eclipse.ui.perspectives">
      <perspective class="kr.co.apexsoft.stella.modeler.perspective.ModellipsePerspective" icon="icons/Logo-16-8bit.bmp" id="kr.co.apexsoft.stella.modeler.perspective.perspective" name="%perspective.name">
      </perspective>
   </extension>
   <extension id="product" point="org.eclipse.core.runtime.products">
      <product application="org.eclipse.ui.ide.workbench" name="%product.name">
         <property name="appName" value="Modellipse">
         </property>
         <property name="windowImages" value="icons/Modellipse-windowImage-16.png">
         </property>
         <property name="startupProgressRect" value="5,280,445,15">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini">
         </property>
         <property name="startupForegroundColor" value="000000">
         </property>
         <property name="startupMessageRect" value="7,255,445,20">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="customization/css/modellipse.css"
            id="kr.co.apexsoft.stella.modeler.perspective.theme.Modellipse"
            label="Modellipse">
      </theme>
      <theme
            basestylesheeturi="customization/css/adwaita.css"
            id="kr.co.apexsoft.stella.modeler.perspective.theme.adwaita"
            label="adwaita">
      </theme>
      <theme
            basestylesheeturi="customization/css/coffee.css"
            id="kr.co.apexsoft.stella.modeler.perspective.theme.coffee"
            label="coffee">
      </theme>
      <theme
            basestylesheeturi="customization/css/lime.css"
            id="kr.co.apexsoft.stella.modeler.perspective.theme.lime"
            label="lime">
      </theme>
      <theme
            basestylesheeturi="customization/css/ocean.css"
            id="kr.co.apexsoft.stella.modeler.perspective.theme.ocean"
            label="ocean">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/Modellipse-windowImage-16.png"
            id="kr.co.apexsoft.stella.modeler.perspective.intro">
      </intro>
      <introProductBinding
            introId="kr.co.apexsoft.stella.modeler.perspective.intro"
            productId="kr.co.apexsoft.stella.modeler.perspective.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="customization/intro/introContent.xml"
            id="kr.co.apexsoft.stella.modeler.perspective.intro.config"
            introId="kr.co.apexsoft.stella.modeler.perspective.intro">
         <presentation
               home-page-id="root"
               standby-page-id="standby">
            <implementation
                  kind="html"
                  style="customization/intro/sample.css">
            </implementation>
            <implementation
                  kind="swt">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="kr.co.apexsoft.stella.modeler.perspective.perspective">
         <newWizardShortcut
               id="org.eclipse.papyrus.uml.diagram.wizards.1createproject">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
