<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<extension point="org.eclipse.ui.newWizards">
	<category 
		id="org.eclipse.papyrus.wizards.category"
    	name="Modellipse">
	</category>
	<wizard
         category="org.eclipse.papyrus.wizards.category"
         class="org.eclipse.papyrus.uml.diagram.wizards.NewPapyrusProjectWizard"
         finalPerspective="org.eclipse.papyrus.infra.core.perspective"         
         icon="icons/Logo-16-8bit.bmp"
         id="org.eclipse.papyrus.uml.diagram.wizards.1createproject"
         name="Modellipse Project"
         project="true">
      <description>
         %NewWizards.project.description
      </description>
	</wizard>
    <wizard
         category="org.eclipse.papyrus.wizards.category"
         class="org.eclipse.papyrus.uml.diagram.wizards.InitModelWizard"
         finalPerspective="org.eclipse.papyrus.infra.core.perspective"
         icon="icons/Logo-16-8bit.bmp"
         id="org.eclipse.papyrus.uml.diagram.wizards.createmodel"
         name="Modellipse Model">
   </wizard>
</extension>

<extension-point id="templates" name="UML2 Model Templates" schema="schema/templates.exsd"/>

</plugin>
