<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.editors">
      <editor
            class="kr.co.apexsoft.modellipse.explorer.editor.ModellipseMultiDiagramEditor"
            contributorClass="org.eclipse.papyrus.editor.PapyrusActionBarContributor"
            default="true"
            extensions="di"
            icon="icons/Modellipse-windowImage-16.png"
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            matchingStrategy="org.eclipse.papyrus.editor.PapyrusMatchingStrategy"
            name="Modellipse Editor Core">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.papyrus.views.category"
            class="kr.co.apexsoft.modellipse.explorer.view.ApexModellipseExplorerView"
            icon="icons/Modellipse-windowImage-16.png"
            id="kr.co.apexsoft.modellipse.explorer.view"
            name="Modellipse Explorer"
            restorable="true">
      </view>         
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup"
            viewerId="kr.co.apexsoft.modellipse.explorer.view">
      </viewer>
      <viewerContentBinding
            viewerId="kr.co.apexsoft.modellipse.explorer.view">
         <includes>
            <contentExtension
                  pattern="kr.co.apexsoft.modellipse.explorer.ModellipseNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>      
      <dragAssistant
            class="org.eclipse.papyrus.views.modelexplorer.dnd.EObjectDragAdapterAssistant"
            viewerId="org.eclipse.papyrus.views.modelexplorer.modellipseexplorer">
      </dragAssistant>
      <viewerActionBinding
        viewerId="kr.co.apexsoft.modellipse.explorer.view">
        <includes>
          <actionExtension
            pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
        </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="kr.co.apexsoft.modellipse.explorer.provider.ApexUMLContentProvider"
            icon="icons/Modellipse-windowImage-16.png"
            id="kr.co.apexsoft.modellipse.explorer.ModellipseNavigatorContent"
            labelProvider="kr.co.apexsoft.modellipse.explorer.provider.ApexUMLLabelProvider"
            name="Modellipse Model Contents"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.emf.facet.infra.browser.uicore.internal.model.ModelElementItem">
               </instanceof>
               <instanceof
                     value="org.eclipse.gmf.runtime.notation.Diagram">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider"
               id="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider"
               id="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider">
            <enablement>
               <and>
                  <not>
                     <instanceof
                           value="org.eclipse.gmf.runtime.notation.Diagram">
                     </instanceof>
                  </not>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </and>
            </enablement>
         </actionProvider>
         <dropAssistant
               class="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant"
               id="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="org.eclipse.gmf.runtime.notation.Diagram">
                  </instanceof>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>

  <extension point="org.eclipse.ui.menus">

    <!-- ModelExplorer toolbar -->
    <menuContribution allPopups="false" locationURI="toolbar:kr.co.apexsoft.modellipse.explorer.view">

        <!-- Load modisco browser customization command -->     
        <command commandId="org.eclipse.papyrus.views.modelexplorer.LoadBrowserCustomization" icon="icons/etool16/uiCustom.gif" label="Load browser customization" style="push">
        </command>

        <!-- Search element command --> 
        <command commandId="org.eclipse.papyrus.views.modelexplorer.searchelement" icon="icons/etool16/search.gif" label="Search element" style="push">
        </command>
        
        <!-- Sort elements command -->  
        <command commandId="org.eclipse.papyrus.views.modelexplorer.sortelement" icon="icons/etool16/sort.gif" label="sort" style="toggle">
        </command>
    </menuContribution>
    <menuContribution
          allPopups="true"
          locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
       <command
             commandId="kr.co.apexsoft.modellipse.apexdelete"
             icon="icons/delete_edit.gif"
             label="Delete"
             style="push">
          <visibleWhen
                checkEnabled="true">
             <or>
                <with
                      variable="selection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                      </adapt>
                   </iterate>
                </with>
                <with
                      variable="selection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IFile">
                      </adapt>
                   </iterate>
                </with>
             </or>
          </visibleWhen>
       </command>
       <command
             commandId="org.eclipse.papyrus.export.exportAllDiagrams"
             label="Export All Diagrams..."
             style="push">
          <visibleWhen
                checkEnabled="true">
             <and>
                <with
                      variable="selection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IFile">
                      </adapt>
                   </iterate>
                </with>
             </and>
          </visibleWhen>
       </command>
    </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="kr.co.apexsoft.modellipse.wizards.category"
           name="Modellipse">
     </category>
     <wizard
           category="kr.co.apexsoft.modellipse.wizards.category"
           class="kr.co.apexsoft.modellipse.explorer.wizard.ApexNewProjectWizard"
           finalPerspective="kr.co.apexsoft.modellipse.perspective.perspective"
           icon="icons/Logo-16-8bit.bmp"
           id="org.eclipse.papyrus.uml.diagram.wizards.1createproject"
           name="Modellipse Project"
           project="true">
        <description>
           %NewWizards.project.description
        </description>
     </wizard>
     <wizard
           category="kr.co.apexsoft.modellipse.wizards.category"
           class="kr.co.apexsoft.modellipse.explorer.wizard.ApexInitModelWizard"
           finalPerspective="kr.co.apexsoft.modellipse.perspective.perspective"
           icon="icons/Logo-16-8bit.bmp"
           id="org.eclipse.papyrus.uml.diagram.wizards.createmodel"
           name="Modellipse Model">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
     <browserCustomization
           file="resources/ApexModelExplorerDefault.uiCustom"
           loadByDefault="true">
     </browserCustomization>
  </extension>
  <extension
        point="org.eclipse.emf.facet.infra.query.registration">
     <modelqueryset
           file="resources/ApexBrowserQuery.querySet">
     </modelqueryset>
  </extension>
  <extension
        point="org.eclipse.emf.facet.infra.facet.registration">
     <facetset
           file="resources/ApexModellipseUMLFacet.facetSet">
     </facetset>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.ui.category.edit"
           defaultHandler="kr.co.apexsoft.modellipse.explorer.handler.ApexResourceDeleteHandler"
           description="Delete the selection"
           id="kr.co.apexsoft.modellipse.apexdelete"
           name="Delete the Selected Resource"/>
  </extension>
</plugin>
