<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="TreeOutlinePage">
        <propertyTab
              category="org.eclipse.papyrus"
              id="kr.co.apexsoft.stella.modeler.properSheet.contolledTab"
              label="Controlled">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="TreeOutlinePage">
        <propertySection
              class="kr.co.apexsoft.stella.modeler.propertysheet.controlled.section.ControlledPathPropertySection"
              filter="kr.co.apexsoft.stella.modeler.propertysheet.controlled.filter.ControlledPropertyFilter"
              id="kr.co.apexsoft.stella.modeler.properSheet.controlledTab.path"
              tab="kr.co.apexsoft.stella.modeler.properSheet.contolledTab">
        </propertySection>
        <propertySection
              afterSection="kr.co.apexsoft.stella.modeler.properSheet.controlledTab.path"
              class="kr.co.apexsoft.stella.modeler.propertysheet.controlled.section.ControlledTypePropertySection"
              filter="kr.co.apexsoft.stella.modeler.propertysheet.controlled.filter.ControlledPropertyFilter"
              id="kr.co.apexsoft.stella.modeler.properSheet.controlledTab.type"
              tab="kr.co.apexsoft.stella.modeler.properSheet.contolledTab">
        </propertySection>
        <propertySection
              afterSection="kr.co.apexsoft.stella.modeler.properSheet.controlledTab.type"
              class="kr.co.apexsoft.stella.modeler.propertysheet.controlled.section.ControlledSizePropertySection"
              filter="kr.co.apexsoft.stella.modeler.propertysheet.controlled.filter.ControlledPropertyFilter"
              id="kr.co.apexsoft.stella.modeler.properSheet.controlledTab.size"
              tab="kr.co.apexsoft.stella.modeler.properSheet.contolledTab">
        </propertySection>
        <propertySection
              afterSection="kr.co.apexsoft.stella.modeler.properSheet.controlledTab.size"
              class="kr.co.apexsoft.stella.modeler.propertysheet.controlled.section.ControlledTimePropertySection"
              filter="kr.co.apexsoft.stella.modeler.propertysheet.controlled.filter.ControlledPropertyFilter"
              id="kr.co.apexsoft.stella.modeler.properSheet.controlledTab.lastModified"
              tab="kr.co.apexsoft.stella.modeler.properSheet.contolledTab">
        </propertySection>
     </propertySections>
  </extension>
</plugin>
