<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.editors">
      <editor
            class="kr.co.apexsoft.stella.modeler.explorer.editor.StellaMultiDiagramEditor"
            contributorClass="org.eclipse.papyrus.editor.PapyrusActionBarContributor"
            default="true"
            extensions="di"
            icon="icons/windowImage-16.png"
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            matchingStrategy="org.eclipse.papyrus.editor.PapyrusMatchingStrategy"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="kr.co.apexsoft.stella.modeler.views.category"
            name="Stella">
      </category>
      <view
            category="kr.co.apexsoft.stella.modeler.views.category"
            class="kr.co.apexsoft.stella.modeler.explorer.view.ApexStellaExplorerView"
            icon="icons/windowImage-16.png"
            id="kr.co.apexsoft.stella.modeler.explorer.view"
            name="%view.name"
            restorable="true">
      </view>         
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup"
            viewerId="kr.co.apexsoft.stella.modeler.explorer.view">
      </viewer>
      <viewerContentBinding
            viewerId="kr.co.apexsoft.stella.modeler.explorer.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.workingSet">
            </contentExtension>
            <contentExtension
                  pattern="kr.co.apexsoft.stella.modeler.explorer.StellaNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>      
      <dragAssistant
            class="org.eclipse.papyrus.views.modelexplorer.dnd.EObjectDragAdapterAssistant"
            viewerId="kr.co.apexsoft.stella.modeler.explorer.view">
      </dragAssistant>
      <viewerActionBinding
        viewerId="kr.co.apexsoft.stella.modeler.explorer.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.GotoActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.GoIntoActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkManagementActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkingSetActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="kr.co.apexsoft.stella.modeler.explorer.provider.ApexUMLContentProvider"
            icon="icons/windowImage-16.png"
            id="kr.co.apexsoft.stella.modeler.explorer.StellaNavigatorContent"
            labelProvider="kr.co.apexsoft.stella.modeler.explorer.provider.ApexUMLLabelProvider"
            name="%navigatorContent.name"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.emf.facet.infra.browser.uicore.internal.model.ModelElementItem">
               </instanceof>
               <instanceof
                     value="org.eclipse.gmf.runtime.notation.Diagram">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider"
               id="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider"
               priority="highest">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider"
               id="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider"
               priority="highest">
            <enablement>
               <and>
                  <not>
                     <instanceof
                           value="org.eclipse.gmf.runtime.notation.Diagram">
                     </instanceof>
                  </not>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </and>
            </enablement>
         </actionProvider>
         <dropAssistant
               class="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant"
               id="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="org.eclipse.gmf.runtime.notation.Diagram">
                  </instanceof>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>

  <extension point="org.eclipse.ui.menus">

    <!-- ModelExplorer toolbar -->
    <menuContribution allPopups="false" locationURI="toolbar:kr.co.apexsoft.stella.modeler.explorer.view">

        <!-- Load modisco browser customization command -->     
        <command commandId="org.eclipse.papyrus.views.modelexplorer.LoadBrowserCustomization" icon="icons/etool16/uiCustom.gif" label="%loadBrowserCustomizeCommandLabel" style="push">
        </command>

        <!-- Search element command --> 
        <command commandId="org.eclipse.papyrus.views.modelexplorer.searchelement" icon="icons/etool16/search.gif" label="%searchElementCommandLabel" style="push">
        </command>
        
        <!-- Sort elements command -->  
        <command commandId="org.eclipse.papyrus.views.modelexplorer.sortelement" icon="icons/etool16/sort.gif" label="%sortCommandLabel" style="toggle">
        </command>
    </menuContribution>
    <menuContribution
          allPopups="true"
          locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
       
       
       <command
             commandId="org.eclipse.ui.edit.delete"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <or>
                <with
                      variable="selection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                      </adapt>
                   </iterate>
                </with>
                <with
                      variable="selection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IFile">
                      </adapt>
                   </iterate>
                </with>
             </or>
          </visibleWhen>
       </command>
    </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="kr.co.apexsoft.stella.modeler.wizards.category"
           name="%wizardCategoryName">
     </category>
     <wizard
           category="kr.co.apexsoft.stella.modeler.wizards.category"
           class="kr.co.apexsoft.stella.modeler.explorer.wizard.ApexNewProjectWizard"
           finalPerspective="kr.co.apexsoft.stella.modeler.perspective.perspective"
           icon="icons/Logo-16-8bit.bmp"
           id="org.eclipse.papyrus.uml.diagram.wizards.1createproject"
           name="%newProjectWizardName"
           project="true">
        <description>
           %NewWizards.project.description
        </description>
     </wizard>
     <wizard
           category="kr.co.apexsoft.stella.modeler.wizards.category"
           class="kr.co.apexsoft.stella.modeler.explorer.wizard.ApexInitModelWizard"
           finalPerspective="kr.co.apexsoft.stella.modeler.perspective.perspective"
           icon="icons/Logo-16-8bit.bmp"
           id="org.eclipse.papyrus.uml.diagram.wizards.createmodel"
           name="%newModelWizardName">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.ui.category.edit"
           description="%deleteTheSelectionCommandDescription"
           id="kr.co.apexsoft.stella.modeler.apexdelete"
           name="%deleteTheSelectionCommandName"/>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="kr.co.apexsoft.stella.modeler.explorer.handler.ApexResourceDeleteHandler"
           commandId="org.eclipse.ui.edit.delete">
        <enabledWhen>
           <or>
              <with
                    variable="selection">
                 <iterate>
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                    </adapt>
                 </iterate>
              </with>
              <with
                    variable="selection">
                 <iterate>
                    <adapt
                          type="org.eclipse.core.resources.IFile">
                    </adapt>
                 </iterate>
              </with>
           </or>
        </enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
       <handler class="org.eclipse.papyrus.views.modelexplorer.handler.UndoHandler" commandId="org.eclipse.ui.edit.undo">
      <activeWhen>
         <and>
            <with
                  variable="activePart">
               <test
                     forcePluginActivation="true"
                     property="kr.co.apexsoft.stella.modeler.explorer.tester.isStellaExplorer"
                     value="true">
               </test>
            </with>
            <with variable="activePart">
               <instanceof value="kr.co.apexsoft.stella.modeler.explorer.view.ApexStellaExplorerView">
               </instanceof>
            </with>
         </and>
      </activeWhen>
   </handler>
   <handler class="org.eclipse.papyrus.views.modelexplorer.handler.RedoHandler" commandId="org.eclipse.ui.edit.redo">
      <activeWhen>
         <and>
            <with
                  variable="activePart">
               <test
                     forcePluginActivation="true"
                     property="kr.co.apexsoft.stella.modeler.explorer.tester.isStellaExplorer"
                     value="true">
               </test>
            </with>
            <with variable="activePart">
               <instanceof value="kr.co.apexsoft.stella.modeler.explorer.view.ApexStellaExplorerView">
               </instanceof>
            </with>
         </and>
      </activeWhen>
   </handler>
     <handler class="org.eclipse.papyrus.views.modelexplorer.handler.CutHandler" commandId="org.eclipse.ui.edit.cut">
      <activeWhen>
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="kr.co.apexsoft.stella.modeler.explorer.view.ApexStellaExplorerView">
               </instanceof>
            </with>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject"
                     value="true">
               </test>
            </with>
         </and>
      </activeWhen>
   </handler>
<!--  <handler
         class="org.eclipse.papyrus.uml.commands.handler.CopyHandler"
         commandId="org.eclipse.ui.edit.copy">
      <activeWhen>
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="kr.co.apexsoft.stella.modeler.explorer.view.ApexStellaExplorerView">
               </instanceof>
            </with>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject"
                     value="true">
               </test>
            </with>
         </and>
      </activeWhen>
   </handler>
    <handler
          class="org.eclipse.papyrus.uml.commands.handler.PasteHandler"
          commandId="org.eclipse.ui.edit.paste">
       <activeWhen>
          <and>
             <with
                   variable="activePart">
                <instanceof
                      value="kr.co.apexsoft.stella.modeler.explorer.view.ApexStellaExplorerView">
                </instanceof>
             </with>
             <with
                   variable="selection">
                <test
                      forcePluginActivation="true"
                      property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject"
                      value="true">
                </test>
             </with>
          </and>
       </activeWhen>
    </handler>-->
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="kr.co.apexsoft.stella.modeler.explorer.tester.PropertyTester"
           id="kr.co.apexsoft.stella.modeler.explorer.tester"
           namespace="kr.co.apexsoft.stella.modeler.explorer.tester"
           properties="isStellaExplorer"
           type="org.eclipse.ui.IWorkbenchPart">
     </propertyTester>
  </extension>
</plugin>
